@font-face {
    font-family: 'nascar';
    src: url(fonts/BERTHOLD\ AKZIDENZ\ GROTESK\ BE\ EXTRA\ BOLD\ CONDENSED.TTF);
}


footer{
    
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
    
}


h1{
    font-family: nascar;
}